body{
  margin:0;
  padding:0;
  font-size:14px;
  line-height: 21px;
  color:#333333;
  font-weight: normal;
  font-family: 'PT Sans', sans-serif;
}
.features-name{
font-size: 21px;
line-height: 21px;
color: #000000;
text-transform:uppercase;
font-weight: bold;
font-family: 'PT Sans', sans-serif;
}
.white-name{
  font-size: 21px;
  line-height: 21px;
  color: #ffffff;
  text-transform:uppercase;
  font-weight:lighter;
  font-family: 'PT Sans', sans-serif;
}

.clearfix::after{
  content: "";

  display: table;
  clear: both;
}
.main-header{
  min-height: 56px;

}
.main-navigation{
  min-height: 56px;
  width: 768px;
  margin: 0 auto;
}
.main-navigation ul{
  font-size:0;

}
.main-navigation li{
  margin:0;
  padding:0;
  display: inline-block;
  margin-left: 35px;
  font-size: 14px;
}
.container{
    margin: auto;
  width:768px;
}
.main-img{
  width: 768px;
  min-height:513px;
  margin: auto;
  margin-bottom: 25px;
}
.info{
  width: 768px;
  padding-top: 25px;
  margin: auto;
}
.info-determ{
  width:436px;
  margin:auto;
  margin-bottom: 43px;
}
.info-reasons{
  width: 488px;
  margin: auto;
  margin-bottom: 58px;
}
.features-img{
  width: 768px;
  }
.features-img-right{
  width:256px;
  float:left;
  background-color: #81b3d2;
  color: #ffffff;
  min-height: 256px;
}
.img-right{
width:512px;
float:right;
}

.features-item{
  margin-top: 50px;
  margin-bottom: 50px;
  float:left;
  width: 158px;
  margin-right: 45px;
  margin-left: 45px;
}
.features-img-left{
  width:256px;
  float:right;
}
.img-left{
width:512px;
float:left;
}

.interests{
text-align: center;

}
.form{
  width: 565px;
  margin: auto;
}
.main-footer{
width:768px;
margin: auto;
padding-top: 35px;
padding-bottom: 35px;
}
.visit{
  float:left;
  width: 132px;
  margin-left: 64px;
}
.footer-social{
  float:left;
  width: 150px;
  margin-left: 110px;
}
.img-developers{
  float:left;
  width: 197px;
  margin-left: 86px;
}
.filter-item-1{
  float:left;
  width: 140px;
  margin-left: 44px;
}
.filter-item-2{
  float:left;
  width: 119px;
  margin-left: 60px;
}
.filter-item-3{
  float:left;
  width: 228px;
  margin-left: 60px;
}
.form-btn{
 text-align: center;
}

.sort{
  margin-top: 40px;
}
.results{
  float:left;
  margin-left: 44px;
  width: 114px;
}
.sort-type{
  float:left;
  margin-left: 44px;
  width: 355px;
}
.sort-type-rating{
margin: 0;
padding: 0;
display:inline-block;
margin-left: 20px;
}
.sort-type-kind{
margin:0;
padding:0;
display: inline-block;
margin-left: 20px;
}
.sort-type-price{
  margin:0;
  padding:0;
  display: inline-block;
  margin-left: 20px;
}
.sort-btn{
  float:right;
}
.issue{
  margin-top: 20px;
  margin-left: 44px;

}
.issue-img{
  float:left;
  width: 135px;
}
.issue-info{
  float:left;
  margin-left: 39px;
}
.issue-name{
  display: block;
}
.issue-type{
display: inline-block;
}
.issue-price{
  display: inline-block;
}
.issue-btn{
  display:block;
}
.issue-rating
{
  float:right;
  text-align: right;
}
.rating
{
  margin-top: 40px;
  display: block;
}
